h1, h2, p {
    text-align: center;
  }
.established{
    font-style:italic;
  }
h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom:15px;
  }
hr{
    height:2px;
    background-color: brown;
  border-color:brown;
  }

h1,h2{font-family: Impact, serif;}

body {
    font-family:sans-serif;
    padding:20px;
    background-image:url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    }

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top:-25px;
      }

#menu {
    max-width:500px;
    width: 80%;
    background-color: burlywood;
    margin-left:auto;
    margin-right:auto;
    padding:20px;
  }
  
/* The p elements are nested in an article element with the class attribute of item.
 You can style all the p elements nested anywhere in elements with a class named item like this: */
 .item p{display:inline-block;
    /* for less space between items */
    margin-top:5px;
  margin-bottom:5px;
  font-size:18px;
}

.flavor, .dessert{
    text-align:left;
    width:50%;
}
.price{
    text-align:right;
    width:50%;
}
.bottom-line{margin-top:25px;}

/* FOOTER */

footer {
    font-size: 14px;
  }
  
a {
    color: black;
    text-decoration: none;
  }

  /* You change properties of a link when the link has actually been visited 
  by using a pseudo-selector that looks like a:visited { propertyName: propertyValue; }. */

a:visited{color:black;}
a:hover { color: brown; }

  /* You change properties of a link when the link is actually being clicked
   by using a pseudo-selector that looks like a:active { propertyName: propertyValue; } */
a:active { color: black; }

   /* to decrease the space at bottom */
.address{margin-bottom:5px;}


